.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #9a9b66;
}

.grass {
    background-color: #61c235;
}

.fire {
    background-color: #ed7926;
}

.water {
    background-color: #4678ec;
}

.electric {
    background-color: #f9ce21;
}

.ice {
    background-color: #73d5d8;
}

.ground {
    background-color: #cba94a;
}

.flying {
    background-color: #a084ee;
}

.poison {
    background-color: #b438b4;
}

.fighting {
    background-color: #d42a21;
}

.psychic {
    background-color: #ff5b8c;
}

.dark {
    background-color: #614a3b;
}

.rock {
    background-color: #bea535;
}

.bug {
    background-color: #9caa1c;
}

.ghost {
    background-color: #604c85;
}

.steel {
    background-color: #9794b7;
}

.dragon {
    background-color: #672ef5;
}

.fairy {
    background-color: #f180a6;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0.4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #fff;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    align-self: center;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem 1rem;
    margin: .3rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.2);
    text-align: center;
    text-transform: capitalize;
}

.pokemon .detail img {
    max-width: 100%;
    height: 80px;
    align-self: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem 1rem;
    margin: .3rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #672ef5;
    border: none;
    border-radius: 1rem;

}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}